.popup{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-popup{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    border-radius: 5px;
}
.inner-popup button{
    position:absolute;
    top:16px;
    right: 16px;
}
.inner-popup .qrcode{
    position:inherit;
    display:flex;
    justify-content: center;
    align-items: center;
}