body{
    background-color:#3C3633;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    background-color: aliceblue;
    margin-bottom: 20px;
}
input{
    display: block;
    padding-top: 10px;

}
button{
    margin-top:20px;
}
.btn[disabled]{
    cursor: not-allowed;
    color:black;
    background-color: hsl(221, 100%, 74%);
}

.main_section{
    background-color: #E0CCBE; 
    margin-top:50%;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    
}
.container{
    margin: 20px;
}
